.lines {
  position: absolute;
  top: 0;
  left: 0;
  top: 40px;
  width: 45px;
  color: #3D4D50;
  text-align: right;
  height: 1200px;
  overflow: hidden;
}

#code {
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 16px;
  padding-top: 3px;
  /*width: 100% ;*/
}


@media screen and (max-width:1023px) {
  /*　画面サイズが1023px以下はここを読み込む　*/
  #main {
    /*background-color: #282a36;*/
    display: none;
  }
  .category{
    padding-top: 50px;
    font-size: 56px;
    width: 100%;
    text-align: center;
    /*background-color: greenyellow;*/
    margin-bottom: 30px;
  }
  .contact {
    /*background-color: red;*/
    display: none;
  }
  .work-container {
    flex-direction: column;
  }
  .profile-img-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .profile-title-container {
    display: flex;
    justify-content: center;
    /*background-color: orange;*/
  }
  .profile-title-main {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
  }

  .profile-title-sub {
    font-size: 40px;
    text-align: center;
  }

  .profile-detail-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .profile-detail {
    padding: 10px;
    font-size: 27px;
  }
  .profile {
    height: 1300px;
    margin-top: 50px;
    /*background-color: red;*/
  }
  .work-img{
    display: none;
  }
  .work-img2{
    width: 100%;
    padding: 0;
  }
  .work-desc {
    height: 600px;
    /*width: 60%;*/
    /*background-color: brown;*/
    flex-direction: column;
  }
  .work-img-wrap {
    padding: 0;
  }
  .work-title-img {
    height: 150px;
    width: 150px;
  }
  .work-title-desc {
    width: 100%;
  }
  .work-title-main {
    font-size: 64px;
  }
  .work-title-sub {
    font-size: 32px;
  }
  .work-detail {
    padding: 10px;
    font-size: 32px;
  }
  .work-detail-container {
    margin-top: 20px;
  }
  .store-img-apple{
    padding-top: 5px;
  }
  .work {
    height: 2000px;
  }
  .work-title-main-double {
    font-size: 54px;
    line-height: 66px;
  }
}

@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  #main {
    /*background-color: #282a36;*/
    height: 1200px;
  }
  .category{
    padding-top: 50px;
    font-size: 36px;
    width: 100%;
    /*background-color: greenyellow;*/
    margin-bottom: 30px;
  }
  .contact {
    height: 900px;
    width: 100%;
    /*background-color: red;*/
  }

  .profile-title-main {
    font-size: 40px;
  }

  .profile-title-sub {
    font-size: 24px;
  }

  .profile-detail-container {
    display: flex;
    margin-top: 20px;
  }
  .profile-detail {
    padding: 10px;
    font-size: 18px;
  }
  .profile {
    width: 100%;
    margin-top: 50px;
    /*background-color: red;*/
  }
  .work-img{
    height: 600px;
    width: 420px;
    object-fit: cover;
  }
  .work-img2{
    display: none;
  }
  .work-desc {
    height: 600px;
    /*width: 60%;*/
    /*background-color: brown;*/
    flex-direction: column;
  }
  .work-title-img {
    height: 100px;
    width: 100px;
  }
  .work-title-main {
    font-size: 40px;
  }
  .work-title-sub {
    font-size: 24px;
  }
  .work-detail {
    padding: 10px;
  }
  .work-detail-container {
    margin-top: 20px;
    height: 400px;
  }
  .work {
    width: 100%;
  }
  .work-title-main-double {
    font-size: 40px;
    line-height: 50px;
  }
}

.work-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.store-img-apple{
  padding-top: 5px;
  height: 75px;
  width: 180px;
}
.store-img-google{
  height: 80px;
  width: 200px;
}

.link-wrap{
  display: flex;
  justify-content: center;
}

#right {
  background-color: #282A36;
  height: 1200px;
  flex-direction: column;
}
#left {
  background-color: #313437;
  height: 1200px;
  flex-direction: column;
}

.folder {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 10px;
}

#tabs {
  height: 40px;
  background-color: #313437;
  flex-direction: row;
  display: flex;
}

.tab {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #282A36;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  /*width: 200px;*/
  border-right: solid 2px #313437;
}

#code1 {
  flex-direction: row;
  display: flex;
}

#lines {
  background-color: #282A36;
  height: 1100px;
  width: 5%;
  display: flex;
  flex-direction: column;
  color: #3D4D50;
}

#text {
  background-color: #282A36;
  height: 1000px;
  width: 95%;
}

pre {
  display:inline;
  margin-bottom: 0;
}

.ts {
  height: 16px;
  width: 16px;
}

.arrow {
  display: inline-block;
  width: 18px;
  height: 18px;
}

#mission {
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-image: url("../asset/mission-img.jpg");
}

.bg-rgba {
  background-color:rgba(0,0,0,0.3);
  height: 1000px;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mission-text {
  font-size: 8rem;
  color: white;
  font-weight: bold;
  line-height: 170px;
}

.nav {
  position: relative;
  top: 100px;
  left: 100px;
  color: white;
  font-size: 46px;
}

.profile {
  width: 100%;
  margin-top: 50px;
  /*background-color: red;*/
}

.container {
  /*background-color: green;*/
  height: 800px;
}

.work-img{
  height: 600px;
  width: 420px;
  object-fit: cover;
}

.profile-img{
  height: 420px;
  width: 420px;
  object-fit: cover;
}

.profile-desc {
  height: 600px;
  /*background-color: brown;*/
  flex-direction: column;
}

.work-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /*background-color: orange;*/
}

.work-detail {
  padding: 10px;
}

.work-links-empty {
  width: 100%;
  height: 60px;
}

.contact {
  height: 900px;
  width: 100%;
  /*background-color: red;*/
}

.contact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*background-color: blue;*/
  height: 600px;
}

.contact-link {
  height: 170px;
  width: 170px;
}

#introductionTsTab {
  border-bottom: solid 3px #8BE9FD;
  background-color: #4B4F53;
}

#introductionTs {
  border-left: solid 3px #8BE9FD;
  background-color: #4B4F53;
}